body{
    font-family: 'Sigmar One', cursive;
}

.home-page{
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.home-page > h1{
    font-size: 64px;
    text-align: center;
}

.start{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .start{
        justify-content: center;
        gap: 20px;
    }
    .home-page > h1{
        font-size: 56px;
    }
}

.start > button{
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--color-home-button);
    color: var(--color-home-text2);
    font-size: 24px;
    cursor: pointer;
}

.last-btns{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rules, .back-btn{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--color-home-button);
    color: var(--color-home-text2);
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
}

.back-btn{
    opacity: 0;
    pointer-events: none;
}

.back-btn.visible{
    opacity: 1;
    pointer-events: initial;
}

.rules{
    grid-column: 3/4;
}

.difficulty{
    display: grid;
    grid-template-columns: 1fr repeat(3, 100px);
    align-self: start;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
    display: none;
    font-size: 24px;
    margin-top: 20px;
}

.difficulty > button{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    color: var(--color-home-text);
    border: none;
    font-size: 16px;
    cursor: pointer;
    grid-column: 2/5;
    align-self: center;
}

.difficulty > .start-game{
    width: 250px;
    height: 100px;
    background-color: var(--color-board-game-bg);
    color: var(--color-easy-button);
    text-shadow: -2px 2px 0 #000,
    2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000;
    font-size: 24px;
}

input[name="difficulty"] {
    all: unset;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    color: var(--color-home-text);
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

input#easy::after{
    position: absolute;
    content: 'Easy';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input#medium::after{
    position: absolute;
    content: 'Medium';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input#hard::after{
    position: absolute;
    content: 'Hard';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input#easy:checked{
    background-color: var(--color-easy-button);
}

input#medium:checked{
    background-color: var(--color-medium-button);
}

input#hard:checked{
    background-color: var(--color-hard-button);
}

@media (max-width: 650px) {
    .difficulty{
        grid-template-columns: repeat(3, 100px);
        align-self: center;
    }
    .difficulty > p{
        grid-column: 1/4;
    }
    .difficulty > button{
        grid-column: 1/4;
    }
}
