.placar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--color-board-game-bg);
    font-size: 36px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.placar.fixed{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.placar > div{
    display: flex;
    align-items: center;
    height: 60px;
}

.placar > div > span{
    margin-left: 10px;
}

.score > span{
    background-color: var(--color-body-bg);
    color: var(--color-board-game-text2);
    padding: 0 7px;
    text-align: center;
    height: 100%;
}

.movements {
    width: 100%;
    max-width: 320px;
}

.timer {
    width: 100%;
    max-width: 250px;
}


#multi > .current{
    position: relative;
    text-decoration: underline var(--color-body-bg);
}

#multi > .current::after{
    content:'';
    position:absolute;
    top: -3px;
    left: -20px;
    width:0;
    height:0;
    border:21px solid transparent;
    border-left: 15px solid var(--color-body-bg);
}

#multi > .current::before{
    content:'';
    position:absolute;
    top: -3px;
    left: -20px;
    width:0;
    height:0;
    border: 21px solid transparent;
    border-left: 15px solid var(--color-body-bg);
}
